# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
*.pyc
*.pyo

# Next.js
frontend/.next/
frontend/node_modules/
frontend/.env.local
frontend/.vercel/

# misc
.DS_Store
backend/yolo11n.pt
